@import '../../colors.scss';

.home-container {

  input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin-bottom: 20px;
    border: 4px solid lightgray;

    &:focus, &:active {
      outline: none;
      border-color: $blue;
    }
  }

  button {
    margin-right: 3px;
  }
}