<div class="home-container">
    <form
        (submit)="onSubmit()"
    >
        <input
            [(ngModel)]="query"
            [ngModelOptions]="{standalone: true}"
            type="text" placeholder="Ask anything..."
        />
        <button
            type="submit"
            class="float-right col-sm-12 col-md-2"
        >
            Search
        </button>
    </form>
</div>