<div *ngIf="questions && questions.length">
    <div *ngFor="let q of questions" class="question-item">
        <div class="col-2 question-answers">
            <div><a routerLink="/question/{{q.question_id}}">{{q.answer_count}}</a></div>
            <div>answers</div>
        </div>
        <div class="col-10 question-body">
            <div><a routerLink="/question/{{q.question_id}}">{{q.title}}</a></div>
            <div class="question-tags">
                <button
                    *ngFor="let t of q.tags"
                    class="question-tag"
                    (click)="onClickTag(t)"
                    tabindex="0"
                >{{t}}</button>
            </div>
            <button class="question-owner" (click)="onClickAuthor(q.owner.user_id)" tabindex="0">
                {{q.owner.display_name}}
            </button>
        </div>
    </div>
</div>