@import '../../colors.scss';

.question-item {
  display: flex;
  border-bottom: 2px solid $blue;

  &:first-child {
    border-top: 2px solid $blue;
  }

  &:nth-child(even) {
    background-color: $table-even-bg;
  }
}

.question-answers {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question-body {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
}

.question-tags {
  overflow-x: auto;
  min-height: 30px;
  padding: 2px;
}

.question-tag {
  background-color: powderblue;
  padding: 4px 6px;
  border-radius: 4px;
  margin-right: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  height: initial;

  &:focus, &:hover {
    border-color: skyblue;
    background-color: white;
    outline: none;
  }
}

.question-owner {
  align-self: flex-end;
  margin-bottom: 10px;
  height: 25px;
  border-color: transparent;
  border-bottom-color: lightgray;
}
