@import "/src/app/colors.scss";

.question-container {

  .question {
    padding-top: 15px;
    padding-bottom: 25px;
    border: solid $blue;
    border-width: 2px 0 0 0;

    &:last-child {
      border-width: 2px 0;
    }

    &:nth-child(even) {
      background-color: $table-even-bg;
    }
  }
}