<div class="question-container">
    <h3>{{questionTitle}}</h3>
    <h4 *ngIf="!answers || !answers.length" class="text-center">Couldn't find any answers 🙈</h4>
    <div *ngIf="answers && answers.length">
        <div *ngFor="let a of answers" class="container question" [innerHTML]="a.body"></div>
    </div>
</div>