<div class="search-container">
    <div *ngIf="quickQuestions && quickQuestions.length">
        <h3>Quick Bar</h3>
        <small>{{quickMessage}}</small>
        <div class="quick-container">
            <question-list
                [questions]="quickQuestions"
                (clickAuthor)="handleAuthorClick($event)"
                (clickTag)="handleTagClick($event)"
            ></question-list>
        </div>
    </div>
    <h3>Showing results for "{{query}}"</h3>
    <div class="search-results">
        <div *ngIf="!questions">Loading...</div>
        <div *ngIf="questions && !questions.length" class="text-center">Couldn't find anything 👀</div>
        <question-list
            *ngIf="questions && questions.length"
            [questions]="questions"
            (clickAuthor)="handleAuthorClick($event)"
            (clickTag)="handleTagClick($event)"
        ></question-list>
    </div>
</div>