<div class="pangular container">
    <h1><a routerLink="/">{{header}}</a></h1>
    <a *ngIf="authService.isLoggedIn" (click)="authService.logout()" class="logout" tabindex="0">Log Out</a>
    <router-outlet></router-outlet>
</div>