@import './colors.scss';

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
}

.pangular {
  padding: 10px;
  position: relative;

  h1 {
    margin-bottom: 40px;
  }

  .logout {
    position: absolute;
    top: 23px;
    right: 0;
    cursor: pointer;
  }

  button {
    border-radius: 0;
    height: 40px;
    background: none;
    cursor: pointer;
    border: 1px solid lightgray;

    &:active, &:focus, &:hover {
      outline: none;
      border-color: $blue;
    }
  }
}